.features{
    background:lighten($main-violet, 30);
    padding: 2rem 8%;
    text-align:center;

    .section-title{
        width:85%;
        @include ALIGNCENTER;
    }

    .feature{
        background: white;
        border-radius: 5px;
        position:relative;
        padding:2rem;

        &:last-child{
            margin-bottom: 0;
        }

        &-image{
            position:absolute;
            background: $main-blue;
            height:90px;
            width:90px;
            border-radius:50%;
            top: -45px;
            left:50%;
            transform: translateX(-50%);
            display:flex;
            justify-content: center;
            align-items: center;;

            img{
                height:50px;
                width: 50px;
            }
        }

        &-copy{
            margin-top:2rem;
            }

        &:after{
            content:"";
            width:5px;
            height:3rem;
            background:$primary-cyan;
            position:absolute;
            bottom:-3rem;
            left: 50%;
            transform: translateX(-50%);
        }

        &:last-child:after{
            display:none;
        }
  
        
    }


        @media (min-width: 1023px){
            .section-title{
                padding: 0 25%;
                p{
                    font-size:1rem;
                }
                margin-bottom: 2rem;
            }
        .features-container{
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
            


            .feature{
                width:30%;
                max-width:380px;
                margin-top:2rem;
                text-align:left;
                .lead{
                    font-size:1.5rem;
                    margin: 1rem 0;
                }
                p{
                    font-size:1rem;
                }
                

                &:after{
                    content:"";
                    width:6rem;
                    height:5px;
                    background:$primary-cyan;
                    position:absolute;
                    top:50%;
                    left:100%;
                    transform: translateY(-50%);
                }

                &:nth-child(2){
                    margin-top:6rem;
                }
                &:nth-child(3){
                    margin-top:8rem;
                }
            }
        }
    }
}