footer{
    background: $main-dark;
    text-align:center;
    color:white;
    a{
        color:$main-violet;
        &:hover{
            color: $primary-cyan;
        }
    }

    .logo{
        width:120px;
        @include ALIGNCENTER;
    }

    .nav-links{
        h3{
            margin: 1rem 0;
            padding: 1rem;
        }
        li{
            margin-bottom:1rem;
        }
    }
    .social-media{
        ul{
            display:flex;
            width: 185px;
            justify-content: space-between;
            align-items: center;
            @include ALIGNCENTER;
            font-size:1rem;
            a{
                color:white;
                font-size:1.5rem;
                &:hover{
                    color: $primary-cyan;
                }
            }
       
        }
    }

    @media (min-width:767px){
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;

        .logo{
            width:100px;
            margin:0;
            margin-top:2rem;
        }
    

        *{
            margin:0;
            padding:0;
        }
    }

    @media (min-width: 900px){
        padding: 2rem 8%;
    }

    @media (min-width: 1023px){
        font-size:1rem;
        .logo{
        margin-right:10%;
        }
         .social-media{
            width:20%;
            max-width: 200px;
        }
        .nav-links{
            width:15%;
            max-width: 120px;
        }
    }

}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }