footer{
    background: $main-dark;
    text-align:center;
    color:white;
    a{
        color:$main-violet;
        &:hover{
            color: $primary-cyan;
        }
    }

    .logo{
        width:120px;
        @include ALIGNCENTER;
    }

    .nav-links{
        h3{
            margin: 1rem 0;
            padding: 1rem;
        }
        li{
            margin-bottom:1rem;
        }
    }
    .social-media{
        ul{
            display:flex;
            width: 185px;
            justify-content: space-between;
            align-items: center;
            @include ALIGNCENTER;
        }
    }

    @media (min-width:767px){
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;

        .logo{
            width:100px;
            margin:0;
            margin-top:2rem;
        }
    

        *{
            margin:0;
            padding:0;
        }
    }

}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }