nav{
    width:100%;
    height:60px;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    @media (max-width:650px){
        .hamburger{
            display:block;
            .btn-line{
                margin-top:0.3rem;
                margin-bottom: 0.3rem;
                height: 3px;
                width:22px;
                background: $main-violet;
                transition: 0.2s;
    
                &:nth-child(1){
                    margin-top:0;
                }
            }
            &.show{
                .btn-line{
                    &:nth-child(1){
                        transform: rotate(45deg) translate(4.5px ,7px);
                        
                    }
                    &:nth-child(2){
                        display:none;
                    }
                    &:nth-child(3){
                        
                        transform: rotate(-45deg) translate(-2px ,-1.5px);
                    
                    }
                }
               
            }
        }
    }
    

    @media (max-width:650px){
        .nav-links{
            transition:1s;
            display:none;
            &.show{
                background: $main-blue;
                display:flex;
                flex-direction:column;
                width:300px;
                padding: 1rem;
                position:absolute;
                top:60px;
                left:50%;
                transform: translateX(-50%);
                text-align:center;
                border-radius: 5px;
                font-size:1rem;

                *{
                    margin-top: 1rem;
                    margin-bottom:1rem;
                    color:white;
                }
                ul{
                    padding: 1rem 0;
                    border-bottom: 1px solid $main-color;
                }

                .btn{
                    width:80%;
                    @include ALIGNCENTER;
                }

            }
        }
    }
    @media (min-width:651px)
    {
        .nav-links{
            display:flex;
            justify-content: space-between;
            align-items: center;
            flex:1;
            font-size:0.9rem;
            ul{
                display:flex;
                justify-content: space-between;
                align-items: center;
                width:50%;
                max-width: 300px;
                margin-right:1rem;
                margin-left:1rem;
            }
            .cta-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                max-width:300px;

                .btn{
                    padding: 0.8rem 1.6rem;
                    font-size:0.9rem;
                }
            }
        }
    }
    
}