.hero{
    margin-top: 50px;
    overflow: hidden;

    &-image{
        width:110%;
        margin-right:-70px;
        margin-left: 70px;
    }
    &-intro{
        padding: 2rem 8%;
        text-align: center;
    }

    @media (min-width:767px){
        display:flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        &-image{
            width:60%;
        }
        &-intro{
            padding: 0 2rem;
            width:50%;
            text-align:left;
            h1{
                font-size:2rem;
            }
            p{
                font-size:1rem;
            }


        }
    }

    @media (min-width: 1023px){
        align-items: center;
        &-intro{
            padding: 0 8%;

            h1{
                font-size:3.5rem;
            }
            .lead{
                font-size:1.3rem;
            }
        }
    }


}