$primary-cyan: hsl(180, 66%, 49%);
$primary-violet: hsl(257, 27%, 26%);

$secondary-red: hsl(0, 87%, 67%);

$main-color: hsl(0, 0%, 75%);
$main-violet: hsl(257, 7%, 63%);
$main-blue: hsl(255, 11%, 22%);
$main-dark: hsl(260, 8%, 14%);

$main-font: 'Poppins', sans-serif;